<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <h5>文本</h5>
    <div id="example-1">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>

    <h5></h5>
    <div id="example-2">
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <h5>复选框</h5>
    <div id='example-3'>
        <input type="checkbox" id="apple" value="apple" v-model="checkedNames">
        <label for="apple">apple</label>
        <input type="checkbox" id="pear" value="pear" v-model="checkedNames">
        <label for="pear">pear</label>
        <input type="checkbox" id="banana" value="banana" v-model="checkedNames">
        <label for="banana">banana</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <h5>单选框</h5>
    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <h5>选择框</h5>
    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>北京</option>
            <option>上海</option>
            <option>深圳</option>
            <option>东莞</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <h5>多选时 (绑定到一个数组)</h5>
    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
    <h5>用 v-for 渲染的动态选项</h5>
    <div id="example-7">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                message: ''
            }
        })
        var example2 = new Vue({
            el: '#example-2',
            data: {
                message: ''
            }
        })
        new Vue({
            el: '#example-3',
            data: {
                checkedNames: []
            }
        })
        new Vue({
            el: '#example-4',
            data: {
                picked: ''
            }
        })
        new Vue({
            el: '#example-5',
            data: {
                selected: ''
            }
        })
        new Vue({
            el: '#example-6',
            data: {
                selected: []
            }
        })
        new Vue({
            el: '#example-7',
            data: {
                selected: 'A',
                options: [{
                        text: 'One',
                        value: 'A'
                    },
                    {
                        text: 'Two',
                        value: 'B'
                    },
                    {
                        text: 'Three',
                        value: 'C'
                    }
                ]
            }
        })
    </script>
</body>

</html>